body {
  font-family: 'Courier New', monospace;
  font-size: 14px;
}

table {
  border: 1px solid grey;
  border-collapse: collapse;

}

thead, tfoot {
  background-color: grey;
}

th, td {
  text-align: center;
  padding: 8px;
}

tbody td:first-child {
  color: red;
}

tbody td:last-child {
  color: lightblue;
}

tfoot {
  font-weight: bold;
}

td.disabled {
  opacity: 0.3;
}
td.today {
  font-weight: bold;
}

#prev, #next, #today {
  cursor: pointer;
  user-select: none;
}